# Dominio Medios de Pago - Equipo Productor: TEAM-HERMES
/dominios/DOM-MEDIOSPAGO/  @wmontoya-pragma

# Dominio Credito de Consumo - Equipo Productor: TEAM-RAGNAR
/dominios/DOM-CREDITO-CONSUMO/  @wmontoya-pragma

# Compartidos - gobierno transversal de arquitectura
/_datatypes/      @wmontoya-pragma
/_codesets/       @wmontoya-pragma
/_templates/      @wmontoya-pragma
/_catalog/        @wmontoya-pragma
/_teams/          @wmontoya-pragma
